.centrar {
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.centrar form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

.centrar .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.centrar > h5 {
    text-align: center;
}

.navconfig {
    background-color: #1e7501;
}

.navbutton {
    background-color: #1e7501;
    border: transparent;
    color: white;
    font-size: 12pt;
}

.expenditure-card {
    background-color: #f6e58d;
}

.chart-card {
    background-color: #dff9fb;
}

.dia{

    width: 90px;
    height: 90px;
    font-size: 40pt;
}
#calendario{

    padding-left: 2cm;
    padding-top: 30px;
}

#header{

    padding-bottom: 20px;
}

